body {
    margin: 0;
}

:root {
    max-height: 100vh;
}

/* ui5-dialog remove padding from content, header and footer parts*/
ui5-dialog::part(content) {
  padding: 0rem;
}

ui5-dialog::part(header) {
  padding: 0rem;
}

ui5-dialog::part(footer) {
  padding: 0rem;
}
/* ui5-dialog remove padding from content, header and footer parts*/