.table-header-bar {
    padding-bottom: 1rem
}

.flexible-columns {
    height: 100%;
    background-color: white;
}

.table {
    height: 100%;
}

.form-container {
    height: calc(100vh - 10.5rem);
}